<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	 <script>
      var nameApp = angular.module('nameApp', []);
      nameApp.controller('NameCtrl', function ($scope){
        $scope.firstName = 'John';
		$scope.names = ['Larry', 'Curly', 'Moe'];
		$scope.addName = function() {
		    $scope.names.push($scope.enteredName);
			$scope.enteredName = "";
		};
		
		$scope.removeName = function(name) {
		    var i = $scope.names.indexOf(name);
			$scope.names.splice(i, 1);
		};
		
        $scope.$watch('lastName', function(newValue, oldValue) {
		console.log('new value is ' + newValue);
		});
		
		setTimeout(function() {
		   $scope.lastName = 'Smith';
		   $scope.$apply();
		   }, 1000);
		
      });
    </script>
  </head>
  <body ng-controller="NameCtrl">
    Name:<input ng-model="name" type="text"/>
    Hello {{name}}
	<br><br>
	First name:<input ng-model="firstName" type="text"/>
    <br><br>
    Last name:<input ng-model="lastName" type="text"/>
    <br><br>
    Hello {{firstName}} {{lastName}}
	<ul>
	   <li ng-repeat="name in names">{{name}}
	      <a href="" ng-click="removeName(name)">remove</a>
	   </li>
	</ul>
	<form ng-submit="addName()">
	    <input type="text" ng-model="enteredName">
		<input type="submit" value="Add">
	</form>
  </body>  
</html>